<div class="row row-cols-1 row-cols-md-2 g-3">
    {% for friend_post in friend_posts %}
        <div class="col">
            <div class="card shadow-sm">
                <div class="card-body m-2">
                    <div class="card-text">
                        <img alt="LOGO" src="{{ asset('img/profile.png') }}" width="70" height="70" />
                        <h4>{{ friend_post.name }}</h4>
                        <span>📍{{ friend_post.city }}</span>

                        <h5>Allergies:</h5>
                        <span>{{ friend_post.allergies }}</span>
            
                        <h5>Preferences:</h5>
                        <span>{{ friend_post.preferences }}</span>
                    </div>
                    <div class="d-flex justify-content-between align-items-center">
                        <span class="text-info"> {{ friend_post.hash_tags }} </span> 
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>