{% extends 'base.html.twig' %}

{% block title %}Leftover to recipe{% endblock %}

{% block javascripts %}
    <script type="module" src="{{ asset('js/recipe.js') }}"></script>
{% endblock %}

{% block body %}
    <div class="row my-2">
        <div class="col">
            <a href={{ path('get_camera') }} class="h5 text-info" style="text-decoration: none;">
                <i class="fas fa-arrow-circle-left text-info"></i>
                Return to camera
            </a>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col">
            <h4>Please select a recipe to continue:</h4>
        </div>
    </div>


    <div class="row">
        {% for recipe in recipes %}
            <div class="col-12 col-md-6">
                <div class="recipe-card card shadow-sm my-3 bg-white border-dark d-block">
                    <a id="recipeLink{{ loop.index }}" class="card-link text-dark recipe-link" style="cursor: pointer;">
                        <div class="card-header bg-white border-0">
                            <div class="row">
                                <div class="col">
                                    {{ recipe.Title }}
                                </div>
                                <div class="col-12 col-sm-4 pr-sm-0">
                                    {% if recipe.IsHealthy %}
                                        <span class="text-white badge py-2 px-2 bg-success font-larger d-inline-flex align-items-center justify-content-center" style="width:100%; min-height:100%">
                                            Healthy
                                        </span>
                                    {% else %}
                                        <span class="text-dark badge py-2 px-2 bg-warning font-larger d-inline-flex align-items-center justify-content-center" style="width:100%; min-height:100%">
                                            Relax
                                        </span>
                                    {% endif %}
                                </div>
                            </div>
                        </div>

                        <div class="card-body bg-transparent border-0 pt-0">
                            <h5>Summary:</h5>
                            <p>{{ recipe.Summary }}</p>
                        </div>
                    </a>

                    <form 
                        method="GET"
                        action="{{ path('recipe_details') }}"
                        >
                        {% for ingredient in recipe.Ingredients %}
                            <input type="hidden" name="selectedRecipe[ingredients][]" value="{{ ingredient }}" />
                        {% endfor %}

                        {% for instruction in recipe.Instructions %}
                            <input type="hidden" name="selectedRecipe[instructions][]" value="{{ instruction }}" />
                        {% endfor %}

                        <input type="hidden" name="selectedRecipe[isHealthy]" value="{{ recipe.IsHealthy }}" />
                        <input type="hidden" name="selectedRecipe[title]" value="{{ recipe.Title }}" />
                    </form>
                </div>
            </div>
        {% endfor %}
    </div>

    <button id="confirmRecipeBtn" type="button" class="btn btn-info text-white w-100 d-none">
        Confirm the recipes and show the details
    </button>
{% endblock %}