{% extends 'base.html.twig' %}

{% block title %}Leftover to recipe{% endblock %}

{% block javascripts %}
    <script type="module" src="{{ asset('js/camera.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        $(document).ready(function() { 
            // Hide message after 5s or click captureButton
            setTimeout(function() {
                $('.alert').alert('close');
            }, 5000);
            $('#captureButton').click(function() {
                $('.alert').alert('close');
            });

            // Show loading spinner on form submission
            $('#picture-scanner-form').submit(function() {
                $('#loading-overlay').removeClass('d-none');
                $('#commenceIdentifyingIngredientsBtn').prop('disabled', true);
            });
        });
    </script>
{% endblock %}

{% block body %}
    {% for type, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ type }} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    {% endfor %}

    <div class="row my-2">
        <div class="col">
            <a 
                href={{ path('basic_info') }} 
                class="h5 text-info"
                style="text-decoration: none;"
                >
                <i class="fas fa-arrow-circle-left text-info"></i>
                Return to basic info
            </a>
        </div>
    </div>

    <form 
        id="picture-scanner-form"
        method="POST"
        action="{{ path('generate_ingeredients') }}"
    >
        <div class="card-body bg-transparent border-0 pt-0">
            <div class="col-12 col-md-8 container-fluid">
                <p>
                    <strong>Preferences:</strong><input class="border-0" type="text" autocomplete="off" name="personPreferences" value="{{ person_preferences is same as "" ? "No preferences" : person_preferences }}" />
                    <br />
                    <strong>Allergies:</strong><input class="border-0" type="text" autocomplete="off" name="personAllergies" value="{{ person_allergies is same as "" ? "No allergies" : person_allergies }}" />
                </p>
            </div>
            <div id="picture-scanner-container" class="col-12 col-md-8 container-fluid d-flex flex-column justify-content-center align-items-center mb-4 p-2">
                <div id="camera"></div>
                <button type="button" class="btn btn-info px-4 mt-4" id="captureButton">Capture</button>
                <img id="capturedImage" alt="Captured Image">

                <button type="button" class="btn btn-info px-4 mt-4 d-none" id="recaptureBtn">Recapture</button>
                    <input 
                        id="ingredients-image-base64"
                        type="hidden" 
                        name="ingredients_img_base_64"
                        value=""
                    />

                    <button type="submit" id="commenceIdentifyingIngredientsBtn" class="btn btn-info px-4 mt-4 d-none">
                        Start identifying ingredients
                    </button>

                <!-- Loading spinner -->
                <div id="loading-overlay" class="d-none">
                    <div class="spinner-border text-info" role="status"></div>
                </div>
            </div>
        </div>
    </form>

    <style>
        #loading-overlay {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(128, 128, 128, 0.5); /* Gray background with transparency */
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 9999;
        }
    </style>
{% endblock %}
